/*---------------*\
  # VARIABLES
\*---------------*/
:root {
  --color-primary: 155, 135, 245;
  --color-primary-dark: 110, 89, 165;
  --color-primary-dark-2: 18, 20, 28;
  --color-light: 214, 188, 250;
  --color-dark: 9, 9, 11;

  --color-text: 250, 248, 252;
  --color-text-light-1: 209, 213, 219;
  --color-text-light-2: 156, 163, 175;

  --bg-gradient: linear-gradient(to right bottom, rgba(26, 31, 44, 1) 0%, rgba(58, 63, 87, 1) 50%, rgba(58, 63, 87, 1) 50%, rgba(30, 34, 51, 1) 80%);
  --text-gradient: linear-gradient(to right, rgb(var(--color-primary)), rgb(var(--color-light)));

  --font: "Inter", sans-serif;

  --font-size-0: 1.2rem;
  --font-size-1: 1.4rem;
  --font-size-2: 1.6rem;
  --font-size-3: 1.8rem;
  --font-size-4: 2rem;
  --font-size-5: 2.4rem;
  --font-size-6: 2.8rem;
  --font-size-7: 3rem;
  --font-size-8: 3.2rem;
  --font-size-9: 3.8rem;
  --font-size-10: 4rem;
  --font-size-11: 4.2rem;
  --font-size-12: 4.4rem;
  --font-size-13: 4.8rem;
  --font-size-14: 5rem;
  --font-size-15: 5.2rem;
  --font-size-16: 5.4rem;
  --font-size-17: 5.6rem;
  --font-size-18: 5.8rem;
  --font-size-19: 6rem;
  --font-size-20: 6.2rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --transition-1: all .2s ease;
  /* 5rem /  */
}

/*---------------*\
  # RESET
\*---------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  background-color: rgb(var(--color-primary-dark-2));
  color: rgb(var(--color-text));
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  line-height: 1.6;
}



/*---------------*\
  # UTILITY CLASSES
\*---------------*/
.container {
  max-width: 130rem;
  margin: 0 auto;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

.heading-primary {
  font-size: var(--font-size-20);
}

.heading-secondary {
  font-size: var(--font-size-10);
}

.heading-secondary,
.text-primary {
  background: var(--text-gradient);
  color: transparent;
  background-clip: text;
}

.heading-tertiary {
  font-size: var(--font-size-5);
}

.heading-quaternary {
  font-size: var(--font-size-4);
}

.sub-text-primary {
  font-size: var(--font-size-3);
  color: rgb(var(--color-light));
}

.sub-text-secondary {
  font-size: var(--font-size-2);
  color: rgb(var(--color-text-light-2));
}

.btn {
  display: inline-block;
  font: inherit;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  border: none;
  padding: 1.4rem 2.8rem;
  border-radius: 1rem;
  color: rgb(var(--color-text));
  cursor: pointer;
  transition: var(--transition-1);
}

.btn--primary {
  background-color: rgb(var(--color-primary));
}

.btn--primary:hover {
  background-color: rgb(var(--color-primary-dark));
}

.btn--secondary {
  background-color: rgb(var(--color-dark));
}

.btn--secondary:hover {
  filter: contrast(90%);
}

.btn--tertiary {
  background-color: rgba(var(--color-text-light-2), .2);
}

.btn--tertiary:hover {
  background-color: rgba(var(--color-text-light-2), .6);
}

.section-features,
.section-how,
.section-testimonials,
.section-pricing {
  padding: 10rem 5rem;
}

/*---------------*\
  # SECTION HERO
\*---------------*/

.section-hero {
  height: 100vh;
  background: var(--bg-gradient);
  padding: 0 5rem;
}

.container-hero {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-subtitle {
  font-size: var(--font-size-0);
  background-color: rgba(250, 248, 252, 0.1);
  border: 1px solid rgba(250, 248, 252, .2);
  padding: .5rem 1.5rem;
  width: max-content;
  border-radius: 3rem;
}

.hero-subtitle span {
  color: rgb(var(--color-primary-dark));
  font-weight: var(--font-weight-bold);
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.stats {
  display: flex;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
  padding: 0 2rem;
}

.stat:first-child {
  padding-left: 0;
}

.stat:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, .1)
}

.stat span:first-child {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-semibold);
}

.stat span:last-child {
  font-size: var(--font-size-1);
  color: rgb(var(--color-text-light-2));
}


.hero-img {
  height: 30rem;
  width: 45rem;
  position: relative;
  animation: bounce 1s ease-in-out infinite alternate forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(-.5rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}

.hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.hero-img-abs-box {
  position: absolute;
  border-radius: 9px;
  width: calc(100% - 60%);
  padding: 2rem;
  display: grid;
  grid-template-columns: .3fr .7fr;
  gap: .5rem;
  z-index: 1;
  border: 1px solid rgb(var(--color-primary));
}

.hero-img-abs-box::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(var(--color-primary), .8);
  filter: blur(1px);
  z-index: -1;
  border-radius: inherit;
}

.hero-img-abs-box span:nth-child(2) {
  font-size: var(--font-size-0);
}

.hero-img-abs-box span:nth-child(3) {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
}

.hero-img-abs-box i {
  align-self: center;
  grid-row: 1 / -3;
  grid-column: 1 / 2;
  font-size: var(--font-size-6);
}

.hero-img-abs-box--1 {
  top: -3rem;
  left: -3rem;
}

.hero-img-abs-box--2 {
  bottom: -3rem;
  right: -3rem;
}

/*---------------*\
  # SECTION FEATURES
  # SECTION HOW
\*---------------*/

.features,
.how-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.features__feature,
.step {
  background-color: rgba(var(--color-text-light-2), .1);
  border-radius: 1rem;
  border: 1px solid rgba(var(--color-text-light-2), .2);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  width: 100%;
}

.features__feature span,
.step span {
  background-color: rgba(var(--color-primary), .2);
  padding: 1.4rem;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.features__feature i,
.step i {
  font-size: var(--font-size-4);
  color: rgb(var(--color-primary));
}

.how-steps {
  margin-bottom: 6rem;
}

.step {
  position: relative;
}

.step>*:last-child {
  position: absolute;
  top: -2rem;
  left: -2rem;
  height: 4rem;
  width: 4rem;
  background-color: rgb(var(--color-primary-dark-2));
  border: 1px solid rgb(var(--color-primary));
  font-size: var(--font-size-2);
  color: rgb(var(--color-primary));
  font-weight: var(--font-weight-bold);
}

.how-action {
  text-align: center;
}

/*---------------*\
  # SECTION TESTIMONIALS
\*---------------*/

.carousel {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  border-radius: 11px;
  box-shadow: 0 .4rem 1rem rgba(var(--color-primary-dark-2), .2);
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;

}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-dots {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.carousel-dots button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background: rgb(var(--color-primary));
  cursor: pointer;
  transition: all 0.3s;
}

.carousel-dots button.active {
  background: rgb(var(--color-primary-dark));
  width: 3rem;
  border-radius: 15%;
}

.testimonial {
  min-width: 100%;
  background-color: rgba(var(--color-text-light-2), .1);
  border: 1px solid rgba(var(--color-text-light-2), .2);
  border-radius: 1rem;
  padding: 3rem 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial__rating {
  color: #fde047;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: var(--font-size-3);
}

.testimonial__quote {
  font-size: var(--font-size-4);
}

.testimonial__profile {
  display: grid;
  grid-template-columns: 6rem .1fr;
  align-items: center;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-column: 1 / 2;
  grid-row: 1 / -3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-primary));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.testimonial__photo--1 {
  background-image: url(/img/profile-01.jpg);
}

.testimonial__photo--2 {
  background-image: url(/img/profile-02.jpg);
}

.testimonial__photo--3 {
  background-image: url(/img/profile-03.jpg);
}

.testimonial__photo--4 {
  background-image: url(/img/profile-04.jpg);
}

.testimonial__name {
  font-size: var(--font-size-2);
  width: max-content;
  align-self: end;
}

.testimonial__desg {
  font-size: var(--font-size-1);
  color: rgb(var(--color-text-light-2));
  width: max-content;
  align-self: start;
}

/*---------------*\
  # SECTION PRICING
\*---------------*/
.switch-button {
  background-color: rgba(var(--color-text-light-2), .1);
  border: 1px solid rgba(var(--color-text-light-2), .2);
  border-radius: 3rem;
  margin-top: 2rem;
}

.switch-button button {
  border: none;
  border-radius: inherit;
  background: none;
  padding: 1.6rem 3.2rem;
  font-size: var(--font-size-2);
  color: rgb(var(--color-text-light-2));
  cursor: pointer;
}

.switch-button button.active {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
  font-weight: var(--font-weight-semibold);
}

.switch-button button span {
  font-size: var(--font-size-0);
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.pricing__box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 5rem 3rem;
  border-radius: 9px;
  background-color: rgba(var(--color-text-light-2), .1);
  border: 1px solid rgba(var(--color-text-light-2), .2);
}

.pricing__price {
  font-size: var(--font-size-9);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 1px;
  position: relative;
  align-self: start;
}

.pricing__box:not(:first-child) .pricing__price::after {
  content: '/month';
  position: absolute;
  left: calc(100% + 1rem);
  bottom: 1rem;
  font-size: var(--font-size-1);
  letter-spacing: 1px;
}

.pricing__box:nth-child(2) {
  border: 1px solid rgb(var(--color-primary));
  box-shadow: 0 0 1.6rem rgba(var(--color-primary), .4);
  position: relative;
  overflow: hidden;
}

.pricing__box:nth-child(2)::before {
  content: 'Most Popular';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5rem;
  text-align: center;
  background-color: rgb(var(--color-primary));
  font-size: var(--font-size-1);
}

.pricing__tagline {
  font-size: var(--font-size-2);
}

.pricing__list {
  list-style: none;
  color: rgb(var(--color-text-light-2));
  font-size: var(--font-size-1);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
}

.pricing__list li:first-child {
  color: rgb(var(--color-text-light-1));
}

.pricing__list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}